#init {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 45%;
    z-index: 1
}

#init h1 {
    font-size: 7vw;
    margin: 0
}

#init p {
    color: rgba(255, 255, 255, 0.8);
    margin: 5% 0
}

#navButtons a {
    margin: 5px
}

#navLogo {
    align-items: center;
    display: flex
}

#plans {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 15%
}

#plans .card {
    align-items: center;
    background-color: rgba(251, 139, 36, 0.3);
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    position: relative
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20%
}

#projects div {
    flex: 40%;
    flex-grow: 1;
    padding: 20px 0
}

#projects h1 {
    margin-bottom: 1vh;
    margin-top: 4vh
}

.blackSection {
    background-color: #1f1f1f;
    color: #fff
}

.card {
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: auto;
    width: 20vw
}

.card img {
    margin: auto;
    max-height: 70%;
    max-width: 70%
}

.main {
    padding: 2% 0
}

.plan {
    border-radius: 20px;
    box-shadow: 10px 10px 59px -26px rgba(0, 0, 0, 0.75);
    height: 50vh;
    overflow: hidden;
    width: 20vw
}

.plan .center {
    background-color: rgba(66, 51, 127, 0.3);
    flex-direction: column;
    height: 60%
}

.plan .top,
.plan .bottom {
    background-color: #42337f;
    height: 20%
}

.plan div {
    align-items: center;
    display: flex;
    justify-content: center
}

.plan h1,
.plan a {
    color: #FFF;
    margin: 0
}

.plan h2,
.plan p {
    color: #42337f;
    margin: 0
}

.plan.highlined {
    height: 60vh
}

.plan.highlined .center {
    background-color: rgba(255, 197, 17, 0.3)
}

.plan.highlined .top,
.plan.highlined .bottom {
    background-color: rgba(255, 197, 17, 1)
}

.plan.highlined h1,
.plan.highlined a {
    color: #1f1f1f
}

.plan.highlined h2,
.plan.highlined p {
    color: #1f1f1f;
    margin: 0
}

.searchBar {
    align-items: stretch;
    background-color: #FFF;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.searchBar .button {
    align-items: center;
    background-color: rgba(255, 197, 17, 1);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding: .5% 5% .1%
}

.searchBar .input {
    width: 100%
}

.searchBar input {
    background-color: transparent;
    border: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    box-sizing: border-box;
    font-family: Ubuntu, serif;
    font-size: 1.5em;
    height: 50px;
    padding: 0 20px;
    width: 100%
}

.searchBar input::placeholder {
    color: #000;
    opacity: .3
}

.searchBar input:focus {
    border: 0;
    color: #1d124a;
    outline: 0
}

.title {
    margin: 5vh 0
}

.title h1,
p {
    margin: 0
}

.whiteSection {
    background-color: #FFF;
    color: #000;
    font-family: 'Open Sans', sans-serif
}

a {
    color: #fff;
    cursor: pointer;
    text-decoration: none
}

a.highlined {
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 10px 15px
}

a.highlined:hover {
    background-color: #fff;
    color: #1d124a
}

body {
    color: #1d124a;
    font-family: Ubuntu, serif;
    font-size: 16px;
    margin: 0
}

footer {
    background-color: #1f1f1f;
    color: #FFF;
    padding: 75px;
    text-align: center
}

footer a {
    margin: 0 2vw
}

header {
    align-items: flex-end;
    background-attachment: fixed;
    background-color: #42337F;
    background-image: url(img/background.png);
    background-position: -30vw center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 0 10%;
    position: relative
}

header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    margin: 0 2vw;
    padding: 1%;
    position: absolute;
    right: 0;
    top: 0
}

section {
    padding: 2%;
    text-align: center
}

@media (max-width:1366px) {
    header {
        background-attachment: scroll
    }
}

@media (max-width:900px) {
    #init {
        text-align: center;
        width: 100%
    }
    #init h1 {
        font-size: 10vw
    }
    #plans {
        align-items: stretch;
        flex-direction: column
    }
    #plans div {
        width: auto
    }
    .card {
        height: 15vh;
        width: 60vw
    }
    .plan {
        margin-bottom: 3vh
    }
    .plan.highlined {
        height: 50vh
    }
    header {
        align-items: center;
        background-position: center
    }
    header::before {
        background-color: rgba(0, 0, 0, .3);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0
    }
}